

#header {
  font-family: "Lucida Handwriting", 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: auto;
  justify-content: center;
}

body {
  background-color: blue;
  background-image: url('./stars.jpg');
  background-size: cover;
  background-attachment: fixed;
}


.image1 {
  height: 500;
}


