

#header {
  font-family: 'Brush Script MT', 'Garamond', Arial, cursive;
  margin: auto;
  justify-content: center;
  font-size: xx-large;
  letter-spacing: 2px;
}

body {
  background-color: rgb(2, 2, 37);
  background-image: url('./stars.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}


.image1 {
  height: 500;
}


